@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 99.8vh;
    color: white;
    font-family: sans-serif;
  }
  
  /* All elements  */
  .parallax {
    background-image: url('https://www.suzlon.com/images/slider/suzlon-wind-energy-slider_one.jpg');
    
    min-height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  div {
    border-radius: 0.8vw;
  }

  .dialogue {
    margin-top: 0.5vw;
  }

  .parallax > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0.2vw 0;
    font-size: 1vw;
    background-color: transparent;
  }
  
  div p {
    padding: 0.1vw;
    margin: 0.2vw;
    text-align: left;
    
  }

  /* Section 1 */
  .section1 {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 0.5vw;
    background-color: transparent;
    padding: 0.5vw;
    
  }
  
  .parallax .item1 a {
    font-size: 2.5vw;
    text-decoration: none;
    margin-left: 0.4vw;
    color: white;
  }

  .parallax .item3 a, .parallax .item4 a, .parallax .item5 a {
    font-size: 2vw;
    margin: 0.2vw 1vw;
    text-decoration: none;
    color: white;
  }

  .item6 i a img {
      width: 2vw;
      height: 2vw;
      margin: 0.2vw 0.4vw;
      color: white;
  }

  .item7 {
    // grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    place-items: center;
  }
  
  .item7 p {
    font-size: 2.2vw;
    padding: 0.1vw;
    border-radius: 0.6vw;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .item7 .global {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
  }

  .item7 .company {
    display: grid;
    grid-row-start:1;
    grid-row-end: 2;
    font-size: 1.5vw;
    font-family: 'Caveat', cursive;
    margin: 0;
  }
  
  .item8 {
    display: grid;
    place-items: center;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 7; 
  }
  
  .item8 p {
    padding: 0.1vw;
    font-size: 1vw;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Caveat', cursive;
    border-radius: 0.8vw;
  }
  
  /* Section 2 */
  .section2 {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5vw;
    background: white;
    padding: 0.5vw;
  }
  
  .section2 div {
    background-color: #22b4b4;
    padding: 0.5vw;
  }
  
  .whole_news {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    margin: 1vw;
    display: grid;
    place-items: center;
  }
  
  .highlight {
    display: flex;
    font-size: 1.7vw;
    font-family: 'Caveat', cursive;
    text-align: left;
    font-weight: bolder;
    padding: 0.5vw;
    margin: 2%;
    color: rgb(214, 9, 241);
    border-radius: 0.8vw;
    border: 0.25rem solid rgb(214, 9, 241);
  }
  
  .summary {
    font-size: 2vw;
    line-height: 1.2;
    padding: 0.5vw;
  }
  
  .news {
    font-size: 1.2vw;
    line-height: 1.1;
    padding: 1vw;
  }
  
  /* Section 3 */
  .section3 {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    gap: 0.5vw;
    padding: 0.5vw;
    background-color: transparent;
  }
  
  .moreInfo {
    display: grid;
    place-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    background: rgba(0, 0, 0, 0.4);
   
  }
  
  .info {
    font-size: 1.5vw;
    padding: 0.8vw;
    border-radius: 0.8vw;
    background: rgba(0, 0, 0, 0.4);
  }

  .about {
    display: grid;
    place-items: center;
    grid-row-start: 3;
    grid-row-end: 4; 
  }
